doctype
html(lang='en-us')
  head
    meta(charset='utf-8')
    title Hello...
    script(src='/jquery/dist/jquery.min.js')
    
    script(src='/angular/angular.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    
    -//script(src='/material-design-lite/material.min.js')
    -//link(rel='stylesheet', href='/material-design-lite/material.min.css', type='text/css')
    
    -//script(src='/angular-bootstrap/ui-bootstrap-tpls-0.14.3.js')
    -//link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css', type='text/css')
    -//script(src='/angular-bootstrap/ui-bootstrap.min.js')
    -//link(rel='stylesheet', href='angular-bootstrap/ui-bootstrap-csp.css', type='text/css')
    
    block header
    link(rel='stylesheet', href='/css/style.css', type='text/css')
  
  body
    block content